header,
main,
footer {
    /* background: tomato; */
    text-align: center;
    margin: auto;
    padding: 2%;
}

.customMessage {
    padding: 5%;
}

.customInput {
    text-align: left !important;
    padding: 5%;
}

.input {
    resize: both !important;
    width: 80%;
}