header,
main,
footer {
    /* background: tomato; */
    text-align: center;
    margin: auto;
    padding: 2%;
}

.properties, .guests, .messages {
    padding-left: 5%;
    padding-right: 5%;
}
.customMessage {
    padding: 5%;
}

.customTemplate{
    text-align: left;
    padding: 5%;
}

textarea {
    resize: both;
    width: 80%;
}